@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

header {
    height: 100vh;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(13, 13, 68);
    background-image: url('../img/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display:block;
    z-index: -10;
}

header h1 {
    font-family: 'Glegoo', sans-serif;
    font-size: 72px;
    color: #FF3864;
}

header h2 {
    font-family: 'Martel Sans', sans-serif;
    font-size: 32px;
    color: #F39C6B;
}

#secao-apresentacao {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

#secao-apresentacao img {
    border-radius: 100%;
    width: 15rem;
}

#texto-apresentacao {
    font-family: 'Martel Sans', sans-serif;
    color: #232528;
}

#texto-apresentacao h2{
    color: #FF3864;
    /* 16px = 1rem */
    font-size: 3rem;
}

#texto-apresentacao p{
    /* 16px = 1rem */
    font-size: 1.12rem;
}

#secao-noticias {
    font-family: 'Martel Sans', sans-serif;
    height: 90vh;
}

#secao-noticias h2 {
    color: #000;
    font-size: 3rem;
    margin-bottom: 0px;
}

#noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: center; */
}

.card{
    position: relative;
    background-color: #F2F7F2;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.5rem gray;
    max-width: 25rem;
    cursor: pointer;
    list-style: none;
    transition: 0.3s;
    margin: 2%;
}

.card h3{
    color: #FF3864;
}

.card img{
    max-width: 25rem;
}

.card:hover{
    filter: brightness(90%)
}

form {
    padding: 2rem 3rem;
    max-width: 500px;
    display: flex;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

select,
input[type=text] {
    border-radius: 0.25rem;
    border: 1px solid black;
    padding: .5rem;
}