@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

header {
    height: 100vh;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(13, 13, 68);
    background-image: url('../img/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display:block;
    z-index: -10;
}

header h1 {
    font-family: 'Glegoo', sans-serif;
    font-size: 72px;
    color: #FF3864;
}

header h2 {
    font-family: 'Martel Sans', sans-serif;
    font-size: 32px;
    color: #F39C6B;
}

li {
    font-family: 'Martel Sans', sans-serif;
    margin: 5px;
}

ul {
    background-color: #F2F7F2;
}

#secao-apresentacao {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

#secao-apresentacao img {
    border-radius: 100%;
}

#texto-apresentacao {
    color: #232528;
}

#texto-apresentacao h2{
    color: #FF3864;
    /* 16px = 1rem */
    font-size: 3rem;
}

#texto-apresentacao p{
    /* 16px = 1rem */
    font-size: 1.12rem;
}
/* 
#secao-noticias {
    height: 100vh;
} */